<hr>
<footer class="text-center">
    <a href="https://github.com/hvardhansingh/Data-Encryption-Algorithm" target="_blank"><i class="fa fa-github git-icon"  aria-hidden="true"></i></a>
    <p>
        17135110 | Harsh Vardhan Singh | IIT Varanasi
    </p>
</footer>

</body>
</html>