<%- include('../../partials/header') %>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 style="text-align: center;">Decipher</h1>
            <form action="/des/decipher" method="POST">
                <div class="form-group">
                    <label for="des[rounds]">Number of Rounds: </label>
                    <select class="form-control" name="des[rounds]">
                        <option>1</option>
                        <option>8</option>
                        <option selected>16</option>
                        <option>32</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="des[key]">Key</label>
                    <input type="text" class="form-control" name="des[key]" value="0F1571C947D9E859">
                </div>

                <div class="form-group">
                    <label for="des[ctxt]">Ciphertext</label>
                    <input class="form-control" type="text" name="des[ctxt]" value="DA02CE3A89ECAC3B">
                </div>

                <div class="form-group">
                    <label for="des[mode]">Mode of Operation: </label>
                    <select class="form-control" name="des[mode]" id="mode">
                        <option value="cbc" selected>Cipher Block Chaining Mode</option>
                        <option value="ofb">Output Feedback Mode</option>
                    </select>
                </div>

                <button class="btn btn-success" type="submit">Decipher</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>