<%- include('partials/header') %>

<div class="container">
    <div class="jumbotron">
        <h1>Data Encryption Algorithm</h1>
        <p>
            A symmetric-key algorithm for the encryption of digital data.
        </p>
    </div>
    <p>
        <a href="/des/encipher" class="btn btn-primary">Encrypt</a>
        <a href="/des/decipher" class="btn btn-primary">Decrypt</a>
    </p>
</div>

<%- include('partials/footer') %>