<%- include('partials/header') %>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Network Security 2020</h1>
            <h4><em>Spring Semester Assignment</em></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail" style="padding: 0; border: 0;">
                <img src="https://imgs.xkcd.com/comics/identity.png" alt="" >
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                <div class="container" style="width: fit-content; padding: 1em; ">
                    
                    <h4 style="font-size: 2em ;">
                        Choose the encryption algorithm you want to explore
                    </h4>   
                    <br>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="thumbnail text-center" style="padding: 0;">
                                <a class="btn btn-success" style="width: 100%;" href="/des">DES</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="thumbnail text-center" style="padding: 0;">
                                <a class="btn btn-success" style="width: 100%;" href="/blowfish">Blowfish</a>                
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </p>
        </div>
    </div>

    

</div>


<%- include('partials/footer') %>

