<%- include('partials/header') %>

<div class="container">
    <div class="jumbotron">
        <h1>Data Encryption Algorithm</h1>
        <p>
            A symmetric-key algorithm for the encryption of digital data.
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <h4>
                    Encrypt your data using DEA. You can choose the number of rounds, half width and key to be used for encryption.
                </h4>
                <a href="/des/encipher" class="btn btn-primary">Encrypt</a>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <h4>
                    Decrypt the encrypted data using DEA. Choose the number of rounds, half width and key to be used for decryption.
                </h4>
                <a href="/des/decipher" class="btn btn-primary">Decrypt</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <h4>
                    See the effect of slight change in key/plaintext on the ciphertext.
                </h4>
                <a href="/des/compare" class="btn btn-primary">Avlanche Demo</a>  
            </div>
        </div>
    </div>

    <p>
        
    </p>
</div>

<%- include('partials/footer') %>