<%- include('../../partials/header') %>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 style="text-align: center;">Decipher</h1>
            <form action="/blowfish/decipher" method="POST">
                <div class="form-group">
                    <label for="blowfish[rounds]">Number of Rounds: </label>
                    <select class="form-control" name="blowfish[rounds]">
                        <option>1</option>
                        <option>8</option>
                        <option selected>16</option>
                        <option>32</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="blowfish[key]">Key</label>
                    <input type="text" class="form-control" name="blowfish[key]" value="aabb09182736ccdd">
                </div>

                <div class="form-group">
                    <label for="blowfish[ctxt]">Ciphertext</label>
                    <input class="form-control" type="text" name="blowfish[ctxt]" value="d748ec383d3405f7">
                </div>

                <div class="form-group">
                    <label for="blowfish[mode]">Mode of Operation: </label>
                    <select class="form-control" name="blowfish[mode]">
                        <option value="cbc" selected class="form-control">Cipher Block Chaining Mode</option>
                        <option value="ofb" class="form-control">Output Feedback Mode</option>
                    </select>
                </div>
                <button class="btn btn-success" type="submit">Decipher</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>