.table-container{
    width: 100%;
    /* margin: 0 auto; */
}

.container{
    margin-bottom: 50px;
}

.allign-center{
    text-align: center;
}

.border{
    border: 1px solid #DCDCDC;
}

.display-inline{
    display: inline-block;
}

.btn-container{
    width: 50%;
    margin: 0 auto;
}

#key{
    display: none;
}

.thumbnail{
    padding: 10px;
}

#ptxt{
    display: none;
}

