.table-container{
    width: 100%;
    /* margin: 0 auto; */
}

.container{
    margin-bottom: 50px;
}

.allign-center{
    text-align: center;
}

btn-center{
    margin: 0 auto;
}

.border{
    border: 1px solid #DCDCDC;
}

.display-inline{
    display: inline-block;
}

.btn-container{
    width: 50%;
    margin: 0 auto;
}

#key{
    display: none;
}

.thumbnail{
    padding: 10px;
}

#ptxt{
    display: none;
}

h1,h2{
    font-family: 'Montserrat', sans-serif;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.git-icon{
    font-size: 3em;
    margin-bottom: 5px;
}

hr{
    margin: 0.5em;
}

footer a, footer a:hover, footer a:visited{
    color: black;
}

footer{
    padding-bottom: 5px;
    color: black;
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    img{
        width: 50%;
    }
}