<%- include('../../partials/header') %>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 style="text-align: center;">Encipher</h1>
            <form action="/blowfish/encipher" method="POST">
                <div class="form-group">
                    <label for="blowfish[rounds]">Number of Rounds: </label>
                    <select class="form-control" name="blowfish[rounds]">
                        <option>1</option>
                        <option>8</option>
                        <option selected>16</option>
                        <option>32</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="blowfish[key]">Key</label>
                    <input type="text" class="form-control" name="blowfish[key]" value="0F1571C947D9E859">
                </div>

                <div class="form-group">
                    <label for="blowfish[ptxt]">Plaintext</label>
                    <input class="form-control" type="text" name="blowfish[ptxt]" value="02468ACEECA86420">
                </div>

                <div class="form-group">
                    <label for="blowfish[mode]">Mode of Operation: </label>
                    <select class="form-control" name="blowfish[mode]">
                        <option value="cbc" selected class="form-control">Cipher Block Chaining Mode</option>
                        <option value="ofb" class="form-control">Output Feedback Mode</option>
                    </select>
                </div>
                <button class="btn btn-success" type="submit">Encipher</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>